<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en"
>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
    <div th:fragment="linking (login, signup, activation)"
        class="flex flex-col items-center gap-2 mt-4 text-sm text-slate-500"
    >
        <div th:if="${login}" class="">
            <span>Vous avez déjà un compte ?</span>
            <a
                class="text-blue-500 font-semibold ml-2 hover:text-blue-700 duration-200"
                th:href="@{/account/login}"
            >
                Se connecter
            </a>
        </div>
        <div th:if="${signup}" class="">
            <span>Vous n'avez pas de compte ?</span>
            <a
                class="text-blue-500 font-semibold ml-2 hover:text-blue-700 duration-200"
                th:href="@{/account/signup}"
            >
                S'inscrire
            </a>
        </div>
        <div th:if="${activation}" class="">
            <span>Votre compte n'est pas activé ?</span>
            <a
                class="text-blue-500 font-semibold ml-2 hover:text-blue-700 duration-200"
                th:href="@{/account/activation}"
            >
                Activer mon compte
            </a>
        </div>
    </div>
</body>
</html>