<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en"
>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
    <a th:fragment="card (id, title, thumbnail, pubAt, reads)"
        th:href="@{/articles/{id}(id=${id})}"
        class="w-[320px] bg-white shadow flex flex-col gap-4 rounded"
    >
        <img
            th:src="@{/img/{thumbnail}(thumbnail=${thumbnail})}"
            alt="Article thumbnail"
            class="w-full h-48 rounded-t"
        >
        <span
            class="p-4 text-xl text-slate-900 capitalize font-semibold"
            th:text="${title}"
        >
            Title
        </span>
        <div
            class="px-4 pb-4 flex items-center justify-between text-slate-500 text-sm font-semibold"
        >
            <span th:text="${pubAt}">At</span>
            <span th:text="${reads}">Reads</span>
        </div>
    </a>

    <div th:fragment="articlesList"
        class="
            ideal-h max-w-[1168px] mx-auto my-0 px-4 py-8
            flex flex-wrap items-center justify-center gap-8
        "
    >
        <div th:each="article : ${articles}">
            <div th:replace=" ~{::card(
                     id=${article.id},
                     title=${article.title},
                     thumbnail=${article.thumbnail},
                     pubAt=${article.pubAt},
                     reads=${article.reads}
                 )}"
            ></div>
        </div>
    </div>
</body>
</html>