<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        lang="en"
>
<head th:fragment="headerAttr (title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Web Genius</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>

    <aside th:fragments="nav (expanded)" class="ideal-h sticky top-[--header-height] z-40">
        <nav class="ideal-h flex flex-col bg-slate-50 border-r shadow-sm">
            <div class="p-4 pb-2 flex justify-between items-center ${expanded ? pl-7 : pl-4}">
            <span
                class="
                    uppercase text-slate-900 font-semibold
                    overflow-hidden transition-all ${expanded ? w-32 : w-0}
                "
            >
                Dash
                <span class="text-[--primary-color]">board</span>
            </span>
            </div>

            <ul class="flex-1 px-3">
                <li>
                    <a
                        th:href="@{/dashboard}"
                        class="
                            relative flex items-center py-2 px-3 my-1 font-medium rounded-md cursor-pointer
                            transition-colors group hover:bg-indigo-50 text-slate-600
                        "
                    >
                        <span class="overflow-hidden transition-all ${expanded ? w-40 ml-3 : w-0}">
                            Authors requests
                        </span>
                        <div th:if="${not expanded}"
                             class="
                                absolute left-full rounded px-2 py-1 ml-6
                                bg-indigo-50 text-indigo-800 text-sm
                                invisible opacity-50 -translate-x-3 transition-all
                                group-hover:opacity-100 group-hover:visible group-hover:translate-x-0
                            "
                        >
                            Authors requests
                        </div>
                    </a>
                </li>

                <li>
                    <a
                        th:href="@{/dashboard/authors}"
                        class="
                            relative flex items-center py-2 px-3 my-1 font-medium rounded-md cursor-pointer
                            transition-colors group hover:bg-indigo-50 text-slate-600
                        "
                    >
                        <span class="overflow-hidden transition-all ${expanded ? w-40 ml-3 : w-0}">
                            Authors
                        </span>
                        <div th:if="${not expanded}"
                             class="
                                absolute left-full rounded px-2 py-1 ml-6
                                bg-indigo-50 text-indigo-800 text-sm
                                invisible opacity-50 -translate-x-3 transition-all
                                group-hover:opacity-100 group-hover:visible group-hover:translate-x-0
                            "
                        >
                            Authors
                        </div>
                    </a>
                </li>

                <li>
                    <a
                        th:href="@{/dashboard/new-article}"
                        class="
                            relative flex items-center py-2 px-3 my-1 font-medium rounded-md cursor-pointer
                            transition-colors group hover:bg-indigo-50 text-slate-600
                        "
                    >
                        <span class="overflow-hidden transition-all ${expanded ? w-40 ml-3 : w-0}">
                            New article
                        </span>
                        <div th:if="${not expanded}"
                             class="
                                absolute left-full rounded px-2 py-1 ml-6
                                bg-indigo-50 text-indigo-800 text-sm
                                invisible opacity-50 -translate-x-3 transition-all
                                group-hover:opacity-100 group-hover:visible group-hover:translate-x-0
                            "
                        >
                            New article
                        </div>
                    </a>
                </li>

                <li>
                    <a
                        th:href="@{/dashboard/articles}"
                        class="
                            relative flex items-center py-2 px-3 my-1 font-medium rounded-md cursor-pointer
                            transition-colors group hover:bg-indigo-50 text-slate-600
                        "
                    >
                        <span class="overflow-hidden transition-all ${expanded ? w-40 ml-3 : w-0}">
                            All article
                        </span>
                        <div th:if="${not expanded}"
                             class="
                                absolute left-full rounded px-2 py-1 ml-6
                                bg-indigo-50 text-indigo-800 text-sm
                                invisible opacity-50 -translate-x-3 transition-all
                                group-hover:opacity-100 group-hover:visible group-hover:translate-x-0
                            "
                        >
                            All article
                        </div>
                    </a>
                </li>
            </ul>

            <div class="border-t flex pt-3 pb-3 pl-3 pr-1">
                <img
                    class="w-10 h-10 rounded-md"
                    th:src="@{/img/{picture}(picture=${user.picture})}"
                    alt="User avatar"
                />
                <div
                    class="
                        flex justify-between items-center w-40
                        overflow-hidden transition-all ${expanded ? w-40 ml-3 : w-0}
                    "
                >
                <div class="leading-4">
                    <h4 class="semi-bold" th:text="${user.pseudo}">name</h4>
                    <span class="text-xs text-slate-600" th:text="${user.email}">email</span>
                </div>
            </div>
            </div>
        </nav>
    </aside>

</body>
</html>