<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en"
>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
    <div th:fragment="button (text)"
        class="flex items-center justify-center"
    >
        <div class="w-max flex items-center justify-center relative">
            <button
                class="bg-[--primary-color] px-8 py-2 text-white rounded"
                type="submit"
                value="${text}"
                th:text="${text}"
            >
                Text
            </button>
        </div>
    </div>
</body>
</html>