<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en"
>
<head th:replace="fragments/ui/general :: headerAttr('Web Genius | Author request')"></head>
<body class="bg-slate-200 relative">
    <div th:replace="fragments/ui/general :: header"></div>

    <p class="my-8 p-6 rounded bg-white shadow text-slate-600">
        Votre demande a bien été prise en compte et soumis aux administrateurs qui seront chargés de valider ou nom celle-ci.<br/>
        Veuillez notez que la disponibilités des administrateurs aura un impacte directe sur la durée de la procédure.<br/>
        Nous vous remercios
    </p>

    <div th:replace="fragments/ui/general :: footer"></div>
</body>
</html>